/* ##### [RANKS] #####*/
/* Room's ranks */
.is-Creator {
  
}
.is-Helpers {
  
}
.is-Graphist {
  
}
.is-Bot {
  
}
.is-VIP {
  font-weight: bold;
}
.is-Donators {
  
}

/* VIP's rank */
/* Yeah, I need a really long selector, or else it doesn't take the prioriry... */
body #chat .chat-container ul.chat-main li.user-55ffc26f1564a403003f527e .activity-row .text p a.username {
  /*WiBla*/
  color: hsl(200,80%,50%) !important;
  font-weight: bold;
}
body #chat .chat-container ul.chat-main li.user-5600800e239f1303009c90eb .activity-row .text p a.username {
  /*Zurbo*/
  color: #042 !important;
  font-weight: bold;
}
body #chat .chat-container ul.chat-main li.user-560072ca239f1303009c8edf .activity-row .text p a.username {
  /*Cyril*/
  color: #F03232 !important;
  font-weight: bold;
}
body #chat .chat-container ul.chat-main li.user-55ffb4d4196f170300cc0df1 .activity-row .text p a.username {
  /*Nomyn*/
  color: #3589D2 !important;
  font-weight: bold;
}
body #chat .chat-container ul.chat-main li.user-56006fe7239f1303009c8e6e .activity-row .text p a.username {
  /*ProDjMx*/
  color: #C61531 !important;
  font-weight: bold;
}
body #chat .chat-container ul.chat-main li.user-5601b47a6ac261030001e429 .activity-row .text p a.username {
  /*Elaaps*/
  color: #40F !important;
  font-weight: bold;
}
body #chat .chat-container ul.chat-main li.user-560c4f735df6020300ce1e53 .activity-row .text p a.username {
  /*Zephyr*/
  color: rgb(207,169,102) !important;
  font-weight: bold;
}
body #chat .chat-container ul.chat-main li.user-5600f5ce2d5038030094cb21 .activity-row .text p a.username {
  /*Reality*/
  color: #012bfe !important;
  font-weight: bold;
}
