/* ##### [Theme] #####*/
/* [CHAT] */
#chat .system {
	background: linear-gradient(hsl(280,80%,30%), hsl(280,80%,20%)) !important;
}
/* Global ranks */
ul.avatar-list li.admin:after {background: hsla(10,80%,40%,0.8);}
ul.avatar-list li.creator:after {background: hsla(220,80%,50%,0.8);}
ul.avatar-list li.mod:after {background: hsla(90,80%,30%,0.8);}
ul.avatar-list li.currentDJ:after {background: hsla(270,70%,40%,0.8);}
#chat .current-chat-user .username {color: hsl(20,80%,50%);}
/* ----[Generic]----*/
#chat li {
	box-shadow: inset 1px 1px 0 hsla(0,0%,0%,0.5);
	background: linear-gradient(hsla(0,0%,0%,0.1), hsla(0,0%,0%,0.05));
	margin: 0 !important;
}
#chat li:nth-child(odd) {
	box-shadow: inset 1px 1px 0 hsla(0,0%,100%,0.1);
	background: linear-gradient(hsla(0,0%,50%,0.1), hsla(0,0%,50%,0.05));
}
#chat li .image_row:after {
	display: none;
}
#chat li img {
	margin: 3px 5px;
}
#chat li .activity-row .meta-info {opacity:0.8 !important;}
#chat .timeago a {color: #aaa;}
#chat .timeago a:hover {color: #0bf;text-shadow: 0 0 5px;}
/* ##### [PURPLE replaced to BLUE] #####*/
#main_player:after,
#main_player .player_container .skip-el,
#chat .chat-container .pusher-chat-widget-input button,
.comments-main .post-comment-container .comments-textarea-container button,
#chat .chat_tools .room-user-counter,
#dubtrack-video-realtime .toggle_videos,
#player-controller ul li.infoContainer .progressBg,
#volume-div .ui-slider-handle,
#main-room #mobile-room-menu a span.info-counter,
#player-controller ul li a.playbtn .queue-info,
#main_avatar_room .avatar_tools a.loadRoomAva span {
	background: hsl(210,80%,40%) !important;
}
button:hover {
	background: hsl(210,80%,50%) !important;
	box-shadow: inset 0 -2px hsl(210,80%,50%);
}
#chat .chat-container .pusher-chat-widget-input .icon-camera {
	color: hsl(210,80%,30%) !important;
}
/* ##### [CYAN replaced to GREEN] #####*/
.loading,
#player-controller ul li a.dubup:hover, #player-controller ul li a.dubup.voted {
	background: hsl(90,50%,50%) !important;
}
#player-controller .right {
	color: hsl(90,50%,50%) !important;
}
/* ##### [Ohter] ##### */
#chat .chat-container ul.chat-main li .activity-row .text img {
  width: auto;
}
#player-controller ul li.infoContainer {
	display: block;
}
.add-to-playlist a:hover {
	background: hsl(280,70%,50%) !important;
}
.dubdown:hover, .dubdown.voted {
	background: hsl(0,60%,50%) !important;
}
ul.avatar-list li.updub {
	border: 1px solid hsl(90,50%,50%) !important;
}
ul.avatar-list li.downdub {
	border: 1px solid hsl(0,60%,50%) !important;
}